body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #565151; 
}
#main {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #565151; 
    width: 1440px;
}

#wallpaper {
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px; 
    background-image: url("images/ShairaLunaMain\ copy.jpg");
    background-position: center;  
}

#title {
    position: absolute;
    width: 674px;
    height: 123px;
    left: 412px;
    top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 120px;
    line-height: 119px;
    color: #FFFFFF;
}

#introduction {
    position: absolute;
    width: 1028px;
    height: 61px;
    left: 235px;
    top: 350px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;

    color: #FFFFFF;

}

#img-div {
    display: flex;
    flex-direction: row;
    
    
}

#image {
    position: relative;
    width: 250px;
    height: 650px;
    left: 170px;
    top: 65px;

    box-shadow: 9px 10px 43px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 9px 10px 43px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 9px 10px 43px 0px rgba(0,0,0,0.57);     
    
}

.title-position {
    display: flex;
    flex-direction: column;
}

#who-is-shaira {
    left: 390px;
    top: 150px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 57px;
    color: #FFFFFF;
    text-shadow: 3px -1px 4px rgba(0,0,0,0.25);
}

#img-caption {
    position: relative;
    width: 352px;
    height: 25px;
    left: -130px;
    top: 555px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    text-shadow: 3px -1px 4px rgba(0,0,0,0.25);
    
    color: #FFFFFF;

}
#tribute-info {
    position: relative;
    width: 450px;
    height: 150px;
    left: 400px;
    top: 198px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-justify: distribute-all-lines;
    text-align: justify;
    text-shadow: 3px -1px 4px rgba(0,0,0,0.25);


    color: #FFFFFF;
        
}

#third-page {
    display: flex;
    flex-direction: row;

}

#img-backdrop {
    position: relative;
    width: 500px;
    height: 940px;
    left: 130px;
    top: 81px;

    background-image: url(gallery/gallery4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85%;
    
   


    opacity: .5;
}

#text-on-backdrop {
    display: flex;
    flex-direction: column;
}

#why-shaira {
    position: relative;
    width: 674px;
    height: 123px;
    right: 460px;
    top: 480px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 68px;
    text-align: center;

    color: #FFFFFF;
}

#why-shaira-container {
    display: flex;
    flex-direction: row;
}

#text-why-shaira {
    display: flex;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 705px;
    left: 750px;
    bottom: 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    text-justify: distribute-all-lines;
    text-align: justify;
    text-shadow: 3px -1px 4px rgba(0,0,0,0.25);

    color: #FFFFFF;
}

#fourth-page-container {
  
}

#tribute-link {


}